<p>Hello, TAMU Engineering Honors Administrator!</p>

<p>This message serves as an administrator alert.</p>

<br/>

<p>A member has just registered for the TAMU Engineering Honors system. Their details may be found below.</p>

<br/>

<p>First Name: <%= @latest_user.first_name %>.</p>
<p>Last Name: <%= @latest_user.last_name %>.</p>
<p>UIN: <%= @uin %>.</p>
<p>Email: <%= @latest_user.email %>.</p>

<br/>

<p>Thank you,</p>
<p>TAMU Engineering Honors</p>